html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica",sans-serif;
    font-weight: lighter;
   
}


nav {
    position: fixed;
    width: 100%;
    line-height: 50px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 30px;
    transition: 1s;
}

nav.black ul {
    //background: #000;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-left: 30rem;
}

