*{
    margin: 0%;
    padding: 0%;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg,rgb(0, 0, 0), rgb(200, 145, 22));
    background-size: 100vw;
    background-attachment: cover;
    background-repeat: no-repeat;
    width: 100dvw;
    height: 100dvh;
}

.container_header{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   justify-content: space-around;
   align-items: center;
}

.tech_img{
   margin-top: 3rem;
}

.portif__sobre{
    width: 100%;
    height: auto;
    background-color:rgb(253, 253, 253);
    margin-top: 5rem;
    padding: 2.5rem;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.portif__foto-sobre{
    width: 200px;
    height: 200px;  
   
}


@media only screen and (max-width:600px) {

    .principal{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        width: 100%;
        height: 100vh;
     
    }

    .portif__sobre{
        width: 100dvw;
        height: 100dvh;       
    }

    .vmc_name-dev{
        font-size: 20px;
        font-weight: 300px;
        color: #ffffff;
    }
    
    .vmc_cat-dev{
        font-size: 40px;
        color: #ffffff;
        line-height: 45px;
    
    }
    .vmc_lan-dev{
        font-size: 16px;
        color: #ffffff;
        line-height: 30px;
        margin-top: 10px;    
    }

    .tech_img{
        margin-top: 20%;
    }
    
 
 }

@media only screen and (max-width:915px) { 
    .principal{
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        width: 100dvw;
        height: 100dvh;
    }

   .vmc_name-dev{
        font-size: 20px;
        font-weight: 300px;
        color: #ffffff;
    }
    
    .vmc_cat-dev{
        font-size: 40px;
        color: #ffffff;
        line-height: 45px;
    
    }
    .vmc_lan-dev{
        font-size: 16px;
        color: #ffffff;
        line-height: 30px;
        margin-top: 10px;    
    }


    img{
        width: 40px;
        gap: 0;
    }   
   
}

@media only screen and (min-width:916px) { 
    .principal{
        display: flex;
        justify-content: center;      
       
    }

   .vmc_name-dev{
        font-size: 20px;
        font-weight: 300px;
        color: #ffffff;
    }
    
    .vmc_cat-dev{
        font-size: 80px;
        font-weight: 600;
        color: #ffffff;
        line-height: 100px;
    
    }
    .vmc_lan-dev{
        font-size: 16px;
        color: #ffffff;
        line-height: 30px;
        margin-top: 10px;    
    }


    img{
        width: 40px;
        gap: 0;
    }   
   
}







