*{
    margin: 0%;
    padding: 0%; }

.principal{
    background-image: url('../img/banner_inicio.jpg');   
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.container_inicio{   
    display: flex;
    color: antiquewhite;
    justify-content: center;
    flex-wrap: wrap;
}
.container_header{
   width: 100vw;
   height: 50px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   justify-content: space-around;
   align-items: center;

}

@media only screen and (max-width:1920px) {
    .tech_img{
        margin-top: 63vh;        
    }
    
}

@media only screen and (min-width:1920px) {
    .tech_img{
        margin-top: 73vh;
        flex-wrap: wrap;
    }
    
}




