*{
    margin: 0%;
    padding: 0%; }

.principal{
    background-image: url('../img/tech/banner_inicio.jpg');   
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-attachment: local;    
}

.container_header{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   justify-content: space-around;
   align-items: center;
}

.tech_img{
    margin-top: 20%;
}

@media only screen and (max-width:1920px) {
    .tech_img{
        margin-top: 30%;
    }
   
}

/* @media only screen and (min-width:1920px) {
    .tech_img{
        margin-top: 73vh;
    }
    
} */




